{% extends 'base.html' %}
{% block title %} Honnouji Academy Deck {% endblock %}
{% block body %}
<div class="sidenav">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card1.png') }}" width='200' height="1000">
</div>
<div class="sidenavr">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card2.png') }}" width='200' height="1000">
</div>
<div class="background6">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-100">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-100.gif" width="275"
                    height="200">
                </a>
                <h6>Honnouji Elite Four, Final Form Outfit! X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-099">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-099.gif" width="275"
                    height="200">
                </a>
                <h6>Life Fiber Override, Kamui Junketsu! X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-074">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-074.gif" width="200"
                    height="275">
                </a>
                <h6>Satsuki, First Step to the Goal X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-071">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-071.gif" width="200"
                    height="275">
                </a>
                <h6>Satsuki, Being Ambitious X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-080">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-080.gif" width="200"
                    height="275">
                </a>
                <h6>Gamagouri, Keeping the Moral X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-073">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-073.gif" width="200"
                    height="275">
                </a>
                <h6>Satsuki, Before the Final Battle X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-082">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-082.gif" width="200"
                    height="275">
                </a>
                <h6>Jakuzure, to the Start of the Song X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-075">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-075.gif" width="200"
                    height="275">
                </a>
                <h6>Inumuta, Genius Hacker X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-095">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-095.gif" width="200"
                    height="275">
                </a>
                <h6>Junketsu X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-093">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-093.gif" width="200"
                    height="275">
                </a>
                <h6>Inumuta, Data Belief X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-084">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-084.gif" width="200"
                    height="275">
                </a>
                <h6>Sanageyama, Shingantsu Stronger than Tengantsu X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-078">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-078.gif" width="200"
                    height="275">
                </a>
                <h6>Jakuzure, Satsuki's Childhood Friend X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-096">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-096.gif" width="200"
                    height="275">
                </a>
                <h6>Soroi's Black Tea X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-092">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-092.gif" width="200"
                    height="275">
                </a>
                <h6>Gamagouri, Elite Four of the Student Council X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}