{% extends 'base.html' %}
{% block title %} Eva Unit 01 Deck {% endblock %}
{% block body %}
<div class='sidenav'>
    <img src="{{ url_for('static', filename='images/eva1-sidebar1.jpg') }}" width='200' height="1000">
</div>
<div class='sidenavr'>
    <img src="{{ url_for('static', filename='images/eva1-sidebar2.jpg') }}" width='200' height="1000">
</div>
<div class="background10">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-049">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-049.gif" width="275"
                        height="200">
                </a>
                <h6>The Last Card X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-048">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-048.gif" width="275"
                        height="200">
                </a>
                <h6>Encounter on the Rooftop X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-015">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-015.gif" width="200"
                        height="275">
                </a>
                <h6>Shinji, Meeting X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-028">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-028.gif" width="200"
                        height="275">
                </a>
                <h6>Mari, Looking at the Sky X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-034">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-034.gif" width="200"
                        height="275">
                </a>
                <h6>4th Angel X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-013">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-013.gif" width="200"
                        height="275">
                </a>
                <h6>Misato in the Picture X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-026">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-026.gif" width="200"
                        height="275">
                </a>
                <h6>Mari Illustrious Makinami X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-037">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-037.gif" width="200"
                        height="275">
                </a>
                <h6>Kaji, Escaped X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-042">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-042.gif" width="200"
                        height="275">
                </a>
                <h6>Evangelion Locally Specified EVA-05 X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-012">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-012.gif" width="200"
                        height="275">
                </a>
                <h6>"EVA-01 Pilot" Shinji X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-018">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-018.gif" width="200"
                        height="275">
                </a>
                <h6>Misato, Driver X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-031">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-031.gif" width="200"
                        height="275">
                </a>
                <h6>EVA-02, Beast State 2 X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-002">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-002.gif" width="200"
                        height="275">
                </a>
                <h6>EVA-01 (Awaken State 1) X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_EV/S12-022">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/ev-s12-022.gif" width="200"
                        height="275">
                </a>
                <h6>Second Impact X 2</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back2' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}