{% extends 'base.html' %}
{% block title %} Deck Lists {% endblock %}
{% block body %}
<h2 class='text-center main-title font1'>Weiss Schwarz Decks</h2>
<div class="container font2">
    {% for deck in decks %}
    {% if decks.index(deck)%3 == 0 %}
    <div class="row">
        {% endif %}
        <div class="col">
            <a class="nav-link" href="{{ url_for(deck)}}">
                <img class="image image--circle image--center"  src="{{images[decks.index(deck)]}}" width="300" height="300">
            </a>
            <a class="nav-link text-center" id='wordlink' href="{{ url_for(deck)}}">{{deck}}</a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}