{% extends 'base.html' %}
{% block title %} Mob and Reigen Deck {% endblock %}
{% block body %}
<div class='sidenav'>
    <img src="{{ url_for('static', filename='images/psycho-sidebar1.jpg') }}" width='200' height="1000">
</div>
<div class='sidenavr'>
    <img src="{{ url_for('static', filename='images/psycho-sidebar2.jpg') }}" width='200' height="1000">
</div>
<div class="background9">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/100pct-rrr?xid=ad1ed5540-abd0-4cea-9b19-86b71c5be3ba">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/229075_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>100% X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/its-okay-to-run-away-rrr?xid=pibc6928cf-b953-4100-a667-75170ed50289">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/229020_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>It's Okay to Run Away! X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/mob-part-time-job?xid=pi8d8e6385-210b-4c8f-ad78-f3e07fe0ac39">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/228990_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>MOB: Part-Time Job X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/ritsu-childhood-memories?xid=pi9f881256-4b34-4d0b-9b51-6bca59177326">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/228621_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Ritsu: Childhood Memories X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/teruki-delinquent?xid=piabde785d-511c-4d7a-9854-c40968ab455b">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/224152_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Teruki: Delinquent X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/petit-mob?xid=pifd003cad-1316-48c8-89fd-bda0ddd91669">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/229080_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Petit MOB X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/explosion-counter-a?xid=piabde785d-511c-4d7a-9854-c40968ab455b">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/222878_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Explosion Counter (A) X 2</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/explosion-counter-b?xid=piabde785d-511c-4d7a-9854-c40968ab455b">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/222879_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Explosion Counter (B) X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/mob-puppy-love-sr?xid=pieb5fb678-630f-4b0e-b754-8ca70b4550d0">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/229063_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>MOB: Puppy Love X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/ritsu-guilty-conscience-sr?xid=pi682a9aa6-6069-4d26-95e0-c6189cda3f69">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/229064_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Ritsu: Guilty Conscience X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/ritsu-awakening-lab?xid=pid393d3fe-d5ef-4a4f-a7e7-23a99b27abaa">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/221771_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Ritsu: Awakening Lab X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/mob-gratitude-towards-his-master?xid=piabde785d-511c-4d7a-9854-c40968ab455b">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/221473_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>MOB: Gratitude Towards His Master X 4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/teruki-hanazawa?xid=pi78aefb24-4bab-4675-a5ed-18cf86b75c79">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/229005_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Teruki Hanazawa X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/arataka-reigen?xid=pi3f7e5ac1-c0fc-480d-8f0f-8b6f9ac311c9">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/221472_200w.jpg" width="200"
                        height="275">
                </a>
                <h6>Arataka Reigen X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://shop.tcgplayer.com/weiss-schwarz/mob-psycho-100/mob-explosion?xid=pi91a1fdba-3784-4268-b3fe-24e93fd760cf">
                    <img src="https://tcgplayer-cdn.tcgplayer.com/product/222876_200w.jpg" width="200" height="275">
                </a>
                <h6>MOB: Explosion X 3</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}