{% extends 'base.html' %}
{% block title %} Mako and Ryuuko Deck {% endblock %}
{% block body %}
<div class="sidenav">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card1.png') }}" width='200' height="1000">
</div>
<div class="sidenavr">
    <img src="{{ url_for('static', filename='images/kill-la-kill-title-card2.png') }}" width='200' height="1000">
</div>
<div class="background2">
    <div class="container">
        <h2 class="font1">Climax</h2>
        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-069">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-069.gif" width="275"
                        height="200">
                </a>
                <h6>Fated Battle X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-068">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-068.gif" width="275"
                        height="200">
                </a>
                <h6>Graduating from Sailor Uniform X 4</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
        </div>

        <div class="row font2">
            <h2 class="font1">Main Deck</h2>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-01">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-01.gif" width="200"
                        height="275">
                </a>
                <h6>Ryuko & Mako, Family And Bond X 2</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-06">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-06.gif" width="200"
                        height="275">
                </a>
                <h6>"Kamui Junketsu" Satsuki X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-074">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-074.gif" width="200"
                        height="275">
                </a>
                <h6>Satsuki, First Step to the Goal X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-046">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-046.gif" width="200"
                        height="275">
                </a>
                <h6>Ryuko, First Encounter with Senketsu X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-045">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-045.gif" width="200"
                        height="275">
                </a>
                <h6>Senketsu, Ryuko's Outfit X4</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-03">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-03.gif" width="200"
                        height="275">
                </a>
                <h6>Ryuko, Scissors Blade Dual Decapitation Mode X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-066">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-066.gif" width="200"
                        height="275">
                </a>
                <h6>Junketsu X 4</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-04">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-04.gif" width="200"
                        height="275">
                </a>
                <h6>"Berserk" Ryuko X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-041">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-041.gif" width="200"
                        height="275">
                </a>
                <h6>Ryuko, to a New Self X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-07">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-07.gif" width="200"
                        height="275">
                </a>
                <h6>Satsuki, For the Survival of Mankind X 3</h6>
            </div>
        </div>

        <div class="row font2">
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-048">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-048.gif" width="200"
                        height="275">
                </a>
                <h6>Ryuko, Declaration of War! X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/S27-042">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-s27-042.gif" width="200"
                        height="275">
                </a>
                <h6>Ryuko, Decided to Wear and Finish the Fight! X 3</h6>
            </div>
            <div class="col">
                <a class="nav-link" href="https://www.heartofthecards.com/code/cardlist.html?card=WS_KLK/SP03-05">
                    <img src="https://www.heartofthecards.com/heartofthecards/images/cards/ws/klk-sp03-05.gif" width="200"
                        height="275">
                </a>
                <h6>"Senketsu Koui" Ryuko X2</h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            
        </div>
        <div class="row">
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <h6> </h6>
            </div>
            <div class="col">
                <a href="/"><button class='btn font1 back' type="button">Home</button></a>
                <div class="col">
                    <h6> </h6>
                </div>
            </div>
        </div>
            
    </div>
{% endblock %}